.header {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-border);
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-primary-dark);
}

.logo {
  width: 24px;
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-gray);
  border-radius: 8px;
}

.btn-add:hover {
  background-color: var(--color-border);
}
